.aboutUsSectionWrapper {
    width: 100%;
    padding: 40px 0;
}

.heading {
    font-weight: 600;
    text-align: center;
    padding: 60px 0;
    color: white;
}

.aboutUsCards {
    height: max-content;
    overflow: hidden;
}

.aboutUsHeading {
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUsHeadingText {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.4;
    text-transform: uppercase;
    color: transparent;
    font-family: 'Montserrat-Bold';
    font-weight: 800;
    border-radius: 10px;
    position: relative;
    padding-bottom: 50px;
}

.aboutContainer {
    height: max-content;
    max-width: 100%;
    background-color: #2f2f2f;
    padding: 8px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    color: white;
    top: 0%;
}

.aboutContent {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 99;
}

.aboutContainer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 2500px;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: rotateBorder 5s linear infinite;
}

.aboutSubHeading {
    color: silver;
    font-style: "Montserrat", sans-serif;
}

@keyframes rotateBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width: 1250px) {
    .aboutImg {
        width: 60px;
    }

    .aboutHeadingText {
        font-size: 3.5vw;
    }

    .aboutSubHeadingText {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 950px) {
    .aboutContainer::after {
        height: 500px;
        width: 2000px;
    }
}

@media only screen and (max-width: 550px) {
    .aboutContainer::after {
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutHeadingText {
        font-size: 25px !important;
    }

    .aboutSubHeadingText {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 1080px) {
    .aboutUsHeadingText {
        font-size: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutUsHeadingText {
        font-size: 50px;
    }
}

.comment {
    position: relative;
    left: 50%;
    z-index: 100;
}

.comment::before,
.comment::after {
    content: "";
    position: absolute;
    border-left: 1px solid white;
    background-color: white;
    left: -21px;
    height: 60vh;
    width: 1px;
}

.comment::before {
    top: 25px;
}

.comment::after {
    top: 325px;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -30px;
    top: 280px;
}

@media only screen and (max-width: 1720px) {
    .comment {
        display: none;
    }
}

.img {
    width: 700px;
    object-fit: cover;
}